14	<!DOCTYPE html>
15	<html lang="en">
16	<head>
17	  <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}Seu Título Padrão{% endblock %}</title>
18	</head>
19	<body>
20	    {% block content %}
21	        <!-- Conteúdo da página principal aqui -->
22	        {% for projeto in projetos %}
23	            <h2>{{ projeto.titulo }}</h2>
24	            <p>{{ projeto.descricao }}</p>
25	        {% endfor %}
26	    {% endblock %}
27	</body>
28	</html>
