{% extends 'pdvweb/base.html' %}

{% block content %}
<h1>Histórico de Vendas</h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Data</th>
      <th>Status</th>
      <th>Operador Responsável</th>
      <th>Cliente</th>
      <th>Valor Total</th>
      <th>Desconto</th>
      <th>Detalhes</th>
      <th>Gerar PDF</th>
    </tr>
  </thead>
  <tbody>
    {% for venda in vendas %}
    <tr>
      <td>{{ venda.id }}</td>
      <td>{{ venda.data }}</td>
      <td>{{ venda.get_status_display }}</td>
      <td>{% if venda.operador %}{{ venda.operador.nome }}{% else %}N/A{% endif %}</td>
      <td>{% if venda.cliente %}{{ venda.cliente.nome }}{% else %}N/A{% endif %}</td>
      <td>R$ {{ venda.valor_total }}</td>
      <td>R$ {{ venda.desconto }}</td>
      <td><a href="{% url 'pdvweb:detalhes_venda' venda.id %}" class="btn btn-primary">Detalhes</a></td>
      <td><a href="{% url 'pdvweb:gerar_pdf_venda' venda.id %}" class="btn btn-secondary">Gerar PDF</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
