{% extends 'pdvweb/base.html' %}
{% load bootstrap4 %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="post" action="{% url 'pdvweb:login_operador' %}?next={{ request.GET.next }}">
        {% csrf_token %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

    {% if not user.is_authenticated %}
        <p>Não tem uma conta? <a href="{% url 'pdvweb:registrar_operador' %}">Registre-se</a></p>
    {% endif %}

    {% if request.GET.next and user.is_authenticated %}
        <p>Logado com sucesso! Se não for redirecionado, <a href="{{ request.GET.next }}">clique aqui</a>.</p>
    {% endif %}
{% endblock %}
