{% extends 'pdvweb/base.html' %}

{% block title %}Lista de Produtos{% endblock %}

{% block content %}
    <h2>Lista de Produtos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Categoria</th>
                <th>Estoque</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in todos_produtos %}
                <tr>
                    <td>{{ produto.nome }}</td>

                    {% if produto.preco %}
                        <td>R$ {{ produto.preco }}</td>
                    {% elif produto.preco_por_kilo %}
                        <td>R$ {{ produto.preco_por_kilo }}</td>
                    {% endif %}
                    
                    <td>{{ produto.categoria.nome }}</td>
                    {% if produto.preco %}
                        <td>{{ produto.estoque }}</td>
                    {% elif produto.preco_por_kilo %}
                        <td>{{ produto.estoque_em_kilos }} kg</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'pdvweb:detalhar_produto' produto.codigo %}" class="btn btn-info btn-sm">Detalhes</a>
                        <a href="{% url 'pdvweb:editar_produto' produto.codigo %}" class="btn btn-warning btn-sm">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
