<!-- produto_detail.html -->

{% extends 'pdvweb/base.html' %}

{% block title %}Detalhes do Produto{% endblock %}

{% block content %}
    <h2>{{ produto.nome }}</h2>
    {% if produto.preco %}
        <p><strong>Preço:</strong> R$ {{ produto.preco }}</p>
    {% elif produto.preco_por_kilo %}
        <p><strong>Preço:</strong> R$ {{ produto.preco_por_kilo }}</p>              
    {% endif %}
    <p><strong>Categoria:</strong> {{ produto.categoria.nome }}</p>
    
    {% if produto.preco %}
        <p><strong>Estoque:</strong> {{ produto.estoque }}</p>
    {% elif produto.preco_por_kilo %}
        <p><strong>Estoque em quilos:</strong> {{ produto.estoque_em_kilos }}</p>
    {% endif %}
    
    <a href="{% url 'pdvweb:editar_produto' produto.codigo %}" class="btn btn-primary">Editar Produto</a>
    <a href="{% url 'pdvweb:listar_produtos' %}" class="btn btn-secondary">Voltar para Lista de Produtos</a>
{% endblock %}
