{% extends 'pdvweb/base.html' %}

{% block title %}Realizar Venda{% endblock %}

{% block content %}



<!-- Modal para pesquisar produto -->
<div class="modal fade" id="pesquisarProdutoModal" tabindex="-1" role="dialog"
    aria-labelledby="pesquisarProdutoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pesquisarProdutoModalLabel">Consulta Produto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <!-- Formulário de pesquisa de produtos -->
                <form method="post" id="pesquisarProdutoForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="produtoPesquisa"><strong>Digite o Nome do Produto:</strong></label>
                        <input type="text" class="form-control" id="produtoPesquisa" name="produto_pesquisa">
                    </div>
                </form>
                <div id="resultadosPesquisa"></div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <!-- Pesquisar Produto -->
            <div class="input-group mb-3">
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                    data-bs-target="#pesquisarProdutoModal">
                    <i class="fas fa-search"></i> <strong>Pesquisar Produto/SHIFT+P</strong>
                </button>
            </div>

            <!-- Adicionar Item à Venda -->
            <div class="card mb-3">
                <div class="card-body">
                    <form method="post" id="adicionarItemForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="codigo_produto_base"><strong>Código do Produto:/SHIFT+A</strong></label>
                            <input type="text" class="form-control" id="codigo_produto_base"
                                name="codigo_produto_base"><strong id="nome_produto"></strong>

                        </div>

                        <div id="formulario_quantidade" style="display: none;">
                            <!-- Formulário para produto por quantidade -->
                            <div class="form-group">
                                <label for="quantidade"><strong>Quantidade:</strong></label>
                                <input type="text" class="form-control" id="quantidade" name="quantidade">
                            </div>
                        </div>
                        <div id="formulario_peso" style="display: none;">
                            <!-- Formulário para produto por peso -->
                            <div class="form-group">
                                <label for="peso"><strong>Peso (em kg):</strong></label>
                                <input type="text" class="form-control" id="peso" name="peso">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success text-center"><strong>Adicionar
                                Item/ENTER</strong></button>
                    </form>
                </div>
            </div>

            <!-- Operador e Cliente -->
            <div class="card mb-3">
                <div class="card-body">
                    <div class="form-group">
                        <label for="operador"><strong>Operador:</strong></label>
                        <strong>{{ request.user }}</strong>
                    </div>
                    <div class="form-group">
                        <label for="cliente"><strong>Cliente:/SHIFT+Q</strong></label>
                        <div class="form-inline">
                            {% if venda.cliente %}
                            <span id="nome_cliente_label"><strong>{{ venda.cliente.nome }}</strong></span>
                            <button id="trocarClienteBtn" class="btn btn-secondary ms-2"><strong>Trocar
                                    Cliente/SHIFT+T</strong></button>
                            {% else %}
                            <input type="text" id="nome_cliente" class="form-control mr-2" placeholder="Nome">
                            <input type="text" id="cpf_cliente" class="form-control mr-2" placeholder="CPF">
                            <button id="verificarClienteBtn"
                                class="btn btn-primary"><strong>Verificar/SHIFT+V</strong></button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal para cadastrar cliente -->
            <div class="modal fade" id="modal_cadastro_cliente" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cadastrar Cliente</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Fechar"></button>
                        </div>
                        <div class="modal-body">
                            <form id="form_cadastro_cliente">
                                <!-- Inclua o token CSRF -->
                                {% csrf_token %}
                                <!-- Campos do formulário de cadastro -->
                                <div class="form-group">
                                    <label for="nome_cliente_cadastro"><strong>Nome:</strong></label>
                                    <input type="text" class="form-control" id="nome_cliente_cadastro"
                                        placeholder="Nome">
                                </div>
                                <div class="form-group">
                                    <label for="email_cliente_cadastro"><strong>Email:</strong></label>
                                    <input type="email" class="form-control" id="email_cliente_cadastro"
                                        placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="telefone_cliente_cadastro"><strong>Telefone:</strong></label>
                                    <input type="text" class="form-control" id="telefone_cliente_cadastro"
                                        placeholder="Telefone">
                                </div>
                                <div class="form-group">
                                    <label for="cpf_cliente_cadastro"><strong>CPF:</strong></label>
                                    <input type="text" class="form-control" id="cpf_cliente_cadastro" placeholder="CPF">
                                </div>
                                <button type="submit" class="btn btn-primary"><strong>Cadastrar</strong></button>
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal"><strong>Fechar</strong></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Itens da Venda -->
        <div class="col-md-9">
            <!-- Itens da Venda -->
            <div id="itens-da-venda" class="mb-3 shadow p-3 bg-light rounded"
                style="max-height: 400px; overflow-y: auto;">
                <h2 class="mb-3 text-center">Itens da Venda</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Produto</th>
                                <th scope="col">Quantidade/Peso</th>
                                <th scope="col">Preço Unitário</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in itens_venda %}
                            <tr>
                                <td>
                                    {% if item.produto_por_quantidade %}
                                    {{ item.produto_por_quantidade.nome }}
                                    {% else %}
                                    {{ item.produto_por_peso.nome }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if item.quantidade %}
                                    {{ item.quantidade }}
                                    {% else %}
                                    {{ item.peso_vendido }} kg
                                    {% endif %}
                                </td>
                                <td>R$ {{ item.preco_unitario }}</td>
                                <td>R$ {{ item.subtotal }}</td>
                                <td id="remove"><a href="{% url 'pdvweb:remover_item' item.id %}"
                                        class="btn btn-danger btn-sm"><strong>Remover</strong></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer PDV -->
    <div class="fixed-bottom text-center mb-4">
        <div class="container">
            <div class="row justify-content-center">
                {% if venda.id %}
                <div class="col-md-auto">
                    <form method="post" action="{% url 'pdvweb:cancelar_venda' venda.id %}" class="d-inline ml-2">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger"><strong>Cancelar Venda/SHIFT+C</strong></button>
                    </form>
                </div>
                <div class="col-md-auto">
                    <form method="post" action="{% url 'pdvweb:finalizar_venda' venda.id %}" class="d-inline ml-2">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary"><strong>Finalizar Venda/SHIFT+F</strong></button>
                    </form>
                </div>
                {% endif %}
                <div class="col-md-auto mt-2">
                    <strong class="border border-primary rounded p-2 bg-primary text-white">Total: R$ <span
                            id="valor_total_venda">{{ valor_total_venda }}</span></strong>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- CSS do Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/mousetrap@1.6.5/mousetrap.min.js"></script>

<!-- JavaScript do Bootstrap (opcional) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {


        // Script para abrir a janela modal de pesquisa
        $('#menuBtn').click(function () {
            $('#produtoPesquisa').val(''); // Limpa o valor do campo de pesquisa
            $('#pesquisarProdutoModal').modal('show');
            $('#pesquisarProdutoForm').focus();

        });

        // Script para limpar o campo de pesquisa ao fechar o modal
        $('#pesquisarProdutoModal').on('hide.bs.modal', function () {
            $('#produtoPesquisa').val(''); // Limpa o valor do campo de pesquisa
            $('#resultadosPesquisa').html(''); // Limpa o conteúdo da div de resultados

        });




        // Script para pesquisa de produtos conforme digitação
        $('#produtoPesquisa').keyup(function () {
            var query = $(this).val(); // Obtém o valor atual do campo de pesquisa
            console.log('Pesquisando por:', query);
            // Foca no campo de pesquisa ao abrir o modal


            // Envia uma solicitação AJAX para a visualização de pesquisa de produtos
            $.ajax({
                type: 'POST',
                url: '{% url "pdvweb:search_produto" %}',
                data: {
                    'produto_pesquisa': query,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val() // Adiciona o token CSRF
                },
                success: function (data) {
                    console.log(data); // Verifique se os dados estão sendo recebidos corretamente
                    $('#resultadosPesquisa').html(data); // Atualiza a lista de resultados com os dados recebidos
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });


        // Script para adicionar item à venda quando pressionar Enter
        $('#codigo_produto_base').keypress(function (event) {
            if (event.which === 13) {
                event.preventDefault();

                var codigoProduto = $('#codigo_produto_base').val();

                $.ajax({
                    type: 'POST',
                    url: '{% url "pdvweb:verificar_tipo_produto" %}',
                    data: {
                        'codigo_produto_base': codigoProduto,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        // Mostra o formulário relevante com base no tipo de produto identificado
                        if (data.tipo_produto === 'produto_por_quantidade') {
                            $('#formulario_quantidade').show();
                            $('#formulario_peso').hide();
                            // Troca o valor do elemento com id 'nome_produto' pelo nome do produto
                            $('#nome_produto').text(data.nome_produto);
                        } else if (data.tipo_produto === 'produto_por_peso') {
                            $('#formulario_quantidade').hide();
                            $('#formulario_peso').show();
                            // Troca o valor do elemento com id 'nome_produto' pelo nome do produto
                            $('#nome_produto').text(data.nome_produto);
                        }
                    },
                    error: function (error) {
                        console.log('Erro ao verificar o tipo de produto:', error);
                    }
                });
            }
        });



        // Script para adicionar item à venda
        $('#adicionarItemForm').submit(function (e) {
            e.preventDefault();
            var codigoProduto = $('#codigo_produto_base').val();
            var quantidade = $('#quantidade').val();
            var peso = $('#peso').val();

            // Envie a solicitação AJAX com base no formulário relevante
            if ($('#formulario_quantidade').is(':visible')) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "pdvweb:realizar_venda" %}',
                    data: {
                        'codigo_produto_base': codigoProduto,
                        'quantidade': quantidade,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        console.log('Item adicionado à venda com sucesso.');
                        // Atualize a seção do HTML que exibe o valor total da venda
                        $('#valor_total_venda').text(data.valor_total_venda);
                        window.location.reload(); // Se necessário
                    },
                    error: function (error) {
                        console.log('Erro ao adicionar item à venda:', error);
                    }
                });
            } else if ($('#formulario_peso').is(':visible')) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "pdvweb:realizar_venda" %}',
                    data: {
                        'codigo_produto_base': codigoProduto,
                        'peso': peso,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        console.log('Item adicionado à venda com sucesso.');
                        // Atualize a seção do HTML que exibe o valor total da venda
                        $('#valor_total_venda').text(data.valor_total_venda);
                        window.location.reload(); // Se necessário
                    },
                    error: function (error) {
                        console.log('Erro ao adicionar item à venda:', error);
                    }
                });
            }
        });






        // Função para verificar o cliente e atualizar a interface
        $('#verificarClienteBtn').click(function () {
            var nomeCliente = $('#nome_cliente').val();
            var cpfCliente = $('#cpf_cliente').val();

            $.ajax({
                type: 'POST',
                url: '{% url "pdvweb:verificar_cliente" venda.id %}',
                data: {
                    'nome_cliente': nomeCliente,
                    'cpf_cliente': cpfCliente,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (data) {
                    if (data.success) {
                        console.log(data);
                        // Se a verificação for bem-sucedida, atualize a interface
                        $('#nome_cliente_label').text(data.cliente_nome);
                        $('#nome_cliente_label').show();
                        $('#trocarClienteBtn').show();
                        $('#nome_cliente').hide();
                        $('#cpf_cliente').hide();
                        $('#verificarClienteBtn').hide();
                        // Atualize a página após o sucesso da verificação
                        window.location.reload();
                    } else {
                        // Se a verificação falhar, exiba o modal de cadastro do cliente
                        $('#modal_cadastro_cliente').modal('show');
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        // Função para trocar o cliente e atualizar a interface
        $('#trocarClienteBtn').click(function () {
            // Coloque aqui o código para trocar o cliente, se necessário
            // Depois, atualize a página
            window.location.reload();
        });



        // Script para trocar cliente
        $('#trocarClienteBtn').click(function () {
            $.ajax({
                type: 'POST',
                url: '{% url "pdvweb:desvincular_cliente" venda.id %}',
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (data) {
                    $('#nome_cliente').val('').show();
                    $('#cpf_cliente').val('').show();
                    $('#verificarClienteBtn').show();
                    $('#trocarClienteBtn').hide();
                    $('#nome_cliente_label').hide();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        // Função para cadastrar cliente
        $('#form_cadastro_cliente').submit(function (e) {
            e.preventDefault();

            // Obter os dados do formulário
            var formData = {
                'nome': $('#nome_cliente_cadastro').val(),
                'email': $('#email_cliente_cadastro').val(),
                'telefone': $('#telefone_cliente_cadastro').val(),
                'cpf': $('#cpf_cliente_cadastro').val(),
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            };

            // Enviar a solicitação AJAX para cadastrar o cliente
            $.ajax({
                type: 'POST',
                url: '{% url "pdvweb:cadastrar_cliente" %}',
                data: formData,
                success: function (data) {
                    console.log("Cliente cadastrado com sucesso");
                    // Limpar os campos do formulário de cadastro após o sucesso
                    $('#form_cadastro_cliente')[0].reset();
                    // Fechar o modal de cadastro do cliente
                    $('#modal_cadastro_cliente').modal('hide');
                },
                error: function (error) {
                    console.log("Erro ao cadastrar cliente:", error);
                    // Tratar erros aqui, se necessário
                }
            });
        });

        // Função para abrir ou fechar o modal de pesquisa de produto
        function togglePesquisarProdutoModal() {
            if ($('#pesquisarProdutoModal').hasClass('show')) {
                $('#pesquisarProdutoModal').modal('hide');
            } else {
                $('#pesquisarProdutoModal').modal('show');
                $('#produtoPesquisa').focus().select();
            }
        }
        
        
        // Escute o evento de teclado no documento inteiro
        var shiftRPressed = false;
        var selectedItemIndex = -1;
    
        // Escute o evento de teclado no documento inteiro
        $(document).on('keydown', function(event) {
            // Verifique se a tecla Shift está pressionada
            if (event.shiftKey) {
                // Verifique qual tecla foi pressionada e execute a ação correspondente
                switch (event.key) {
                    case 'P':
                        togglePesquisarProdutoModal();
                        break;
                    case 'A':
                        focusInput('#codigo_produto_base');
                        break;
                    case 'Q':
                        focusInput('#nome_cliente');
                        break;
                    case 'V':
                        clickButton('#verificarClienteBtn');
                        break;
                    case 'T':
                        clickButton('#trocarClienteBtn');
                        break;
                    case 'F':
                        submitForm('[action="{% url "pdvweb:finalizar_venda" venda.id %}"]');
                        break;
                    case 'C':
                        submitForm('[action="{% url "pdvweb:cancelar_venda" venda.id %}"]');
                        break;
                    case 'R':
                        // Ativar a funcionalidade de selecionar e remover os itens
                        shiftRPressed = true;
                        break;
                    default:
                        break;
                }
            }
        });
    
        // Escute o evento de soltar a tecla
        $(document).on('keyup', function(event) {
            // Verifique se a tecla Shift foi solta
            if (!event.shiftKey && shiftRPressed) {
                // Desativar a funcionalidade de selecionar e remover os itens
                shiftRPressed = false;
                // Remover a classe 'selected' de todas as linhas da tabela
                $('#itens-da-venda tbody tr').removeClass('selected');
                // Adicionar a classe 'selected' à linha do item selecionado
                $('#itens-da-venda tbody tr').eq(selectedItemIndex).removeClass('selected');
            }
        });
    
        // Escute o evento de pressionar uma tecla enquanto a tecla Shift está pressionada
        $(document).on('keydown', function(event) {
            // Verificar se a tecla Shift + R foi pressionada
            if (shiftRPressed) {
                // Verificar se as teclas de seta para cima ou para baixo foram pressionadas
                if (event.key === 'ArrowUp' || event.key === 'ArrowDown') {
                    // Atualizar o índice do item selecionado
                    if (event.key === 'ArrowUp' && selectedItemIndex > 0) {
                        selectedItemIndex--;
                    } else if (event.key === 'ArrowDown' && selectedItemIndex < $('#itens-da-venda tbody tr').length - 1) {
                        selectedItemIndex++;
                    }
    
                    // Remover a classe 'selected' de todas as linhas da tabela
                    $('#itens-da-venda tbody tr').removeClass('selected');
                    // Adicionar a classe 'selected' à linha do item selecionado
                    $('#itens-da-venda tbody tr').eq(selectedItemIndex).addClass('selected');
                }
                // Verificar se a tecla Enter foi pressionada para remover o item selecionado
                else if (event.which === 13) {
                    if (selectedItemIndex >= 0) {
                        var selectedRow = $('#itens-da-venda tbody tr').eq(selectedItemIndex);
                        var removeButton = selectedRow.find('#remove a'); // Seleciona o botão "Remover"
                        var removeUrl = removeButton.attr('href'); // Obtém a URL de remoção do item
    
                        // Envie uma solicitação AJAX para remover o item da venda
                        $.ajax({
                            type: 'GET',
                            url: removeUrl,
                            success: function(data) {
                                // Atualize a seção do HTML que exibe o valor total da venda, se necessário
                                $('#valor_total_venda').text(data.valor_total_venda);
                                // Remova a linha da tabela de itens da venda
                                selectedRow.remove();
                                // Redefina o índice do item selecionado
                                selectedItemIndex = -1;
                                // Remover a classe 'selected' de todas as linhas da tabela
                                $('#itens-da-venda tbody tr').removeClass('selected');
                            },
                            error: function(error) {
                                console.log('Erro ao remover o item da venda:', error);
                            }
                        });
                    }
                }
            }
        });
    
        // Função para mover o foco para um elemento de entrada e selecionar seu conteúdo
        function focusInput(selector) {
            $(selector).focus().select();
        }
    
        // Função para simular o clique em um botão
        function clickButton(selector) {
            $(selector).click();
        }
    
        // Função para enviar um formulário
        function submitForm(selector) {
            $(selector).submit();
        }

    });
</script>

<!-- Estilos Bootstrap para o item selecionado -->
<style>
    .selected {
        background-color: #007bff;
        /* Cor de fundo azul Bootstrap */
        color: #fff;
        /* Cor do texto branco */
    }
</style>


{% endblock %}