{% extends 'pdvweb/base.html' %}

{% block title %}Realizar Venda{% endblock %}

{% block content %}



    <!-- Modal para pesquisar produto -->
    
        <!-- Conteúdo do modal aqui -->
            <!-- Dentro do bloco <body> -->
                <div class="modal fade" id="pesquisarProdutoModal" tabindex="-1" role="dialog"
                aria-labelledby="pesquisarProdutoModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content" >
                        <div class="modal-header">
                            <h5 class="modal-title" id="pesquisarProdutoModalLabel">Consulta Produto</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Formulário de pesquisa de produtos -->
                            <form method="post" id="pesquisarProdutoForm">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="produtoPesquisa">Digite o Nome do Produto:</label>
                                    <input type="text" class="form-control" id="produtoPesquisa"
                                        name="produto_pesquisa">
                                </div>

                            </form>
                            <div id="resultadosPesquisa"></div>
                        </div>
                    </div>
                </div>
            </div>
    





<div class="container mt-4">
    <div class="row">

        <div class="col-md-3">

            

            <!-- Pesquisar Produto -->


            <div class="input-group-prepend">
                <button type="button" class="btn btn-outline-secondary" id="menuBtn">
                    <i class="fas fa-bars"></i>
                </button>
            </div>

            <br>

            <!-- Adicionar Item à Venda -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" id="adicionarItemForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="codigo_produto_base">Código do Produto:</label>
                            <input type="text" class="form-control" id="codigo_produto_base" name="codigo_produto_base">
                        </div>
                        <div id="formulario_quantidade" style="display: none;">
                            <!-- Formulário para produto por quantidade -->
                            <div class="form-group">
                                <label for="quantidade">Quantidade:</label>
                                <input type="text" class="form-control" id="quantidade" name="quantidade">
                            </div>
                        </div>
                        <div id="formulario_peso" style="display: none;">
                            <!-- Formulário para produto por peso -->
                            <div class="form-group">
                                <label for="peso">Peso (em kg):</label>
                                <input type="text" class="form-control" id="peso" name="peso">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Adicionar Item</button>
                    </form>
                </div>
            </div>
        </div>


            <!-- Operador e Cliente -->
            <div class="mt-4">
                <div class="form-group">
                    <label for="operador">Operador:</label>
                    {{ request.user }}
                </div>
                <div class="form-group">
                    <label for="cliente">Cliente:</label>
                    <div class="form-inline">
                        {% if venda.cliente %}
                        <span id="nome_cliente_label">{{ venda.cliente.nome }}</span>
                        <br>
                        <button id="trocarClienteBtn" class="btn btn-secondary">Trocar Cliente</button>
                        {% else %}
                        <input type="text" id="nome_cliente" class="form-control mr-2" placeholder="Nome">
                        <input type="text" id="cpf_cliente" class="form-control mr-2" placeholder="CPF">
                        <br>
                        <button id="verificarClienteBtn" class="btn btn-primary">Verificar</button>
                        {% endif %}
                    </div>
                </div>
            </div>



            <!-- Modal para cadastrar cliente -->
            <div class="modal fade" id="modal_cadastro_cliente" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cadastrar Cliente</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>


                        <div class="modal-body">
                            <form id="form_cadastro_cliente">
                                <!-- Inclua o token CSRF -->
                                {% csrf_token %}
                                <!-- Campos do formulário de cadastro -->
                                <div class="form-group">
                                    <label for="nome_cliente_cadastro">Nome:</label>
                                    <input type="text" class="form-control" id="nome_cliente_cadastro"
                                        placeholder="Nome">
                                </div>
                                <div class="form-group">
                                    <label for="email_cliente_cadastro">Email:</label>
                                    <input type="email" class="form-control" id="email_cliente_cadastro"
                                        placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="telefone_cliente_cadastro">Telefone:</label>
                                    <input type="text" class="form-control" id="telefone_cliente_cadastro"
                                        placeholder="Telefone">
                                </div>
                                <div class="form-group">
                                    <label for="cpf_cliente_cadastro">CPF:</label>
                                    <input type="text" class="form-control" id="cpf_cliente_cadastro" placeholder="CPF">
                                </div>
                                <button type="submit" class="btn btn-primary">Cadastrar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Fim do modal de cadastro de cliente -->
        </div>

        <!-- Itens da Venda -->
        <div class="col-md-9">

            <!-- Itens da Venda -->
            <div id="itens-da-venda" class="mb-3 shadow p-3 bg-light rounded" style="max-height: 400px; overflow-y: auto;">
                <h2 class="mb-3">Itens da Venda</h2>
                <div class="table-responsive">
                    <table class="table table-striped" style="width: 100%;">
                        <thead>
                            <tr>
                                <th scope="col">Produto</th>
                                <th scope="col">Quantidade/Peso</th>
                                <th scope="col">Preço Unitário</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col">Ação</th>
                            </tr>
                        </thead>
                        <tbody style="line-height: 1;">
                            {% for item in itens_venda %}
                            <tr>
                                <td>{{ item.produto.nome }}</td>
                                <td>
                                    {% if item.quantidade %}
                                    {{ item.quantidade }}
                                    {% else %}
                                    {{ item.peso_vendido }} kg
                                    {% endif %}
                                </td>
                                <td>R$ {{ item.preco_unitario }}</td>
                                <td>R$ {{ item.subtotal }}</td>
                                <td><a href="{% url 'pdvweb:remover_item' item.id %}" class="btn btn-danger btn-sm">Remover</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>

    <!-- BOTA TOTAL-->
    <!-- Valor total da venda -->
    <div class="text-right col-md-12 mb-1">
        <strong class="border border-primary rounded p-2 bg-primary text-white">Total: R$
            <span id="valor_total_venda">{{ valor_total_venda }}</span>
        </strong>
    </div>

    <!-- Footer PDV -->

    <div class="fixed-bottom mb-4"> <!-- Posiciona os botões na parte inferior da tela com um espaço de margem -->
        <div class="container"> <!-- Container para centralizar os elementos -->
            <div class="row justify-content-center"> <!-- Centraliza os elementos na horizontal -->

                {% if venda.id %}
                <div class="col-md-auto"> <!-- Coluna com largura automática -->
                    <form method="post" action="{% url 'pdvweb:cancelar_venda' venda.id %}" class="d-inline ml-2">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Cancelar Venda</button>
                    </form>
                </div>

                <div class="col-md-auto"> <!-- Coluna com largura automática -->
                    <form method="post" action="{% url 'pdvweb:finalizar_venda' venda.id %}" class="d-inline ml-2">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Finalizar Venda</button>
                    </form>
                </div>
                {% endif %}

            </div>
        </div>
    </div>

</div>




</div>
</div>
</div>


<!-- CSS do Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- JavaScript do Bootstrap (opcional) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {


        // Script para abrir a janela modal de pesquisa
        $('#menuBtn').click(function () {
            $('#produtoPesquisa').val(''); // Limpa o valor do campo de pesquisa
            $('#pesquisarProdutoModal').modal('show');
        });

        // Script para limpar o campo de pesquisa ao fechar o modal
        $('#pesquisarProdutoModal').on('hide.bs.modal', function () {
            $('#produtoPesquisa').val(''); // Limpa o valor do campo de pesquisa
            $('#resultadosPesquisa').html(''); // Limpa o conteúdo da div de resultados

        });




        // Script para pesquisa de produtos conforme digitação
        $('#produtoPesquisa').keyup(function () {
            var query = $(this).val(); // Obtém o valor atual do campo de pesquisa
            console.log('Pesquisando por:', query);

            // Envia uma solicitação AJAX para a visualização de pesquisa de produtos
            $.ajax({
                type: 'POST',
                url: '{% url "pdvweb:search_produto" %}',
                data: {
                    'produto_pesquisa': query,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val() // Adiciona o token CSRF
                },
                success: function (data) {
                    console.log(data); // Verifique se os dados estão sendo recebidos corretamente
                    $('#resultadosPesquisa').html(data); // Atualiza a lista de resultados com os dados recebidos
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });


        // Script para adicionar item à venda quando pressionar Enter
        $('#codigo_produto_base').keypress(function (event) {
            if (event.which === 13) {
                event.preventDefault();

                var codigoProduto = $('#codigo_produto_base').val();

                $.ajax({
                    type: 'POST',
                    url: '{% url "pdvweb:verificar_tipo_produto" %}',
                    data: {
                        'codigo_produto_base': codigoProduto,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        // Mostra o formulário relevante com base no tipo de produto identificado
                        if (data === 'produto_por_quantidade') {
                            $('#formulario_quantidade').show();
                            $('#formulario_peso').hide();
                        } else if (data === 'produto_por_peso') {
                            $('#formulario_quantidade').hide();
                            $('#formulario_peso').show();
                        }
                    },
                    error: function (error) {
                        console.log('Erro ao verificar o tipo de produto:', error);
                    }
                });
            }
        });

        // Script para adicionar item à venda
        $('#adicionarItemForm').submit(function (e) {
            e.preventDefault();
            var codigoProduto = $('#codigo_produto_base').val();
            var quantidade = $('#quantidade').val();
            var peso = $('#peso').val();

            // Envie a solicitação AJAX com base no formulário relevante
            if ($('#formulario_quantidade').is(':visible')) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "pdvweb:realizar_venda" %}',
                    data: {
                        'codigo_produto_base': codigoProduto,
                        'quantidade': quantidade,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        console.log('Item adicionado à venda com sucesso.');
                        // Atualize a seção do HTML que exibe o valor total da venda
                        $('#valor_total_venda').text(data.valor_total_venda);
                        window.location.reload(); // Se necessário
                    },
                    error: function (error) {
                        console.log('Erro ao adicionar item à venda:', error);
                    }
                });
            } else if ($('#formulario_peso').is(':visible')) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "pdvweb:realizar_venda" %}',
                    data: {
                        'codigo_produto_base': codigoProduto,
                        'peso': peso,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        console.log('Item adicionado à venda com sucesso.');
                        // Atualize a seção do HTML que exibe o valor total da venda
                        $('#valor_total_venda').text(data.valor_total_venda);
                        window.location.reload(); // Se necessário
                    },
                    error: function (error) {
                        console.log('Erro ao adicionar item à venda:', error);
                    }
                });
            }
        });






        // Função para verificar o cliente e atualizar a interface
        $('#verificarClienteBtn').click(function () {
            var nomeCliente = $('#nome_cliente').val();
            var cpfCliente = $('#cpf_cliente').val();

            $.ajax({
                type: 'POST',
                url: '{% url "pdvweb:verificar_cliente" venda.id %}',
                data: {
                    'nome_cliente': nomeCliente,
                    'cpf_cliente': cpfCliente,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (data) {
                    if (data.success) {
                        console.log(data);
                        // Se a verificação for bem-sucedida, atualize a interface
                        $('#nome_cliente_label').text(data.cliente_nome);
                        $('#nome_cliente_label').show();
                        $('#trocarClienteBtn').show();
                        $('#nome_cliente').hide();
                        $('#cpf_cliente').hide();
                        $('#verificarClienteBtn').hide();
                        // Atualize a página após o sucesso da verificação
                        window.location.reload();
                    } else {
                        // Se a verificação falhar, exiba o modal de cadastro do cliente
                        $('#modal_cadastro_cliente').modal('show');
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        // Função para trocar o cliente e atualizar a interface
        $('#trocarClienteBtn').click(function () {
            // Coloque aqui o código para trocar o cliente, se necessário
            // Depois, atualize a página
            window.location.reload();
        });



        // Script para trocar cliente
        $('#trocarClienteBtn').click(function () {
            $.ajax({
                type: 'POST',
                url: '{% url "pdvweb:desvincular_cliente" venda.id %}',
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (data) {
                    $('#nome_cliente').val('').show();
                    $('#cpf_cliente').val('').show();
                    $('#verificarClienteBtn').show();
                    $('#trocarClienteBtn').hide();
                    $('#nome_cliente_label').hide();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        // Função para cadastrar cliente
        $('#form_cadastro_cliente').submit(function (e) {
            e.preventDefault();

            // Obter os dados do formulário
            var formData = {
                'nome': $('#nome_cliente_cadastro').val(),
                'email': $('#email_cliente_cadastro').val(),
                'telefone': $('#telefone_cliente_cadastro').val(),
                'cpf': $('#cpf_cliente_cadastro').val(),
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            };

            // Enviar a solicitação AJAX para cadastrar o cliente
            $.ajax({
                type: 'POST',
                url: '{% url "pdvweb:cadastrar_cliente" %}',
                data: formData,
                success: function (data) {
                    console.log("Cliente cadastrado com sucesso");
                    // Limpar os campos do formulário de cadastro após o sucesso
                    $('#form_cadastro_cliente')[0].reset();
                    // Fechar o modal de cadastro do cliente
                    $('#modal_cadastro_cliente').modal('hide');
                },
                error: function (error) {
                    console.log("Erro ao cadastrar cliente:", error);
                    // Tratar erros aqui, se necessário
                }
            });
        });



    });
</script>


{% endblock %}