<div>
	<br>
</div>

<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td align="center">

				<table cellpadding="0" cellspacing="0" style="max-width: 600px;">
					<tbody>
						<tr>
							<td style="padding: 20px;">

								<table cellpadding="0" cellspacing="0" width="100%">
									<!-- Coluna para a imagem do logotipo -->
									<tbody>
										<tr>
											<td align="left" width="100"><img src="https://files.fm/f/5jmntgu52b" width="100" alt="Logo"></td>
											<!-- Coluna para as informações de texto -->
											<td align="right">

												<p style="margin: 0; font-size: 16px;"><strong>Roberto Marques Araujo</strong></p>

												<p style="margin: 0; font-size: 14px;">Diretor Geral</p>

												<p style="margin: 0; font-size: 14px;">Desenvolvimento RA</p>

									

												<p style="margin: 0; font-size: 14px;">Telefone: (86) 99514-2638</p>

												<p style="margin: 0; font-size: 14px;"><a href="mailto:roberto.marques.araujo@desenvolvimentora.site" style="text-decoration: none; color: #000000;">roberto.marques.araujo@desenvolvimentora.site</a></p>

												<p style="margin: 0; font-size: 14px;"><a href="whats-app.desenvolvimentora.site" style="text-decoration: none; color: #000000;">whats-app.desenvolvimentora.site</a></p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
